@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #fff;
  --color-secondary: #ceccca;
  --color-highlight: #cbaf7c;
  --color-border: #504239;
  --font-primary: "PT Sans", sans-serif;
  --color-transparent-special: #00000000;

  --color-witcher-blue: #024393bb;
  --color-witcher-yellow: #483a0bbb;
  --color-witcher-orange: #43270ebb;
  --color-witcher-green: #194715bb;
  --color-witcher-red: #5c0c0bbb;

  --color-bar-health: #c62f2b;
  --color-bar-stamina: #97842f;
  --color-bar-stun: #bab9b2;
}

.bg-smoke {
  background-image: url("/smokebg.png");
  background-size: cover;
  background-position: center;
}

.attack-box-wrapper > div {
  border-color: var(--color-border) /* #504239 */;
  border-width: 4px;
  border-style: double;
  width: 100%;
  padding: 8px 12px;
}

.highlight-fade-success,
.highlight-fade-fail {
  position: relative;
}

.highlight-fade-success::before,
.highlight-fade-fail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    var(--color-witcher-red),
    var(--color-transparent-special)
  );
  animation: highlightFade 2s ease-out forwards;
  pointer-events: none;
  z-index: 1;
}

.highlight-fade-success::before {
  background: linear-gradient(
    to right,
    var(--color-witcher-green),
    var(--color-transparent-special)
  );
}

.highlight-fade-fail {
  animation: shake3D 0.5s ease-in-out;
}

@keyframes highlightFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake3D {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(-5px, 0, 0) rotate3d(0, 1, 0, -10deg);
  }
  40% {
    transform: translate3d(5px, 0, 0) rotate3d(0, 1, 0, 10deg);
  }
  60% {
    transform: translate3d(-5px, 0, 0) rotate3d(1, 0, 0, -10deg);
  }
  80% {
    transform: translate3d(5px, 0, 0) rotate3d(1, 0, 0, 10deg);
  }
}
